<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/index.css" />
</head>

<body>
    <%- include('partials/header') %>
        <h1>О нас</h1>
        <p>Это простое Express-приложение с EJS и публичным API.</p>
</body>

</html>